<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="container">
   <div class="d-flex flex-row flex-wrap justify-content-center">
      <% Meme.all.each do |meme| %>
         <div class="d-flex flex-column">
            <a href="<%= meme[:url] %>">
               <img src="<%= meme[:url] %>" alt="meme" width="260">
            </a> 
         </div>
      <% end %>
   </div>
</div>
